@import "reset.css";

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url("../fonts/MontserratAlternates-ExtraBold.ttf");
}

@font-face {
    font-family: Montserrat-Medium;
    src: url("../fonts/MontserratAlternates-Medium.ttf");
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url("../fonts/MontserratAlternates-SemiBold.ttf");
}

body {
    background-color: #079CD8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    position: relative;
    background-color: #FFFFFF;
    width: 83%;
    height: 84%;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.menu__header {
    font-family: Montserrat-ExtraBold;
    font-size: 40px;
    padding-bottom: 194px;
}

.menu__BackBtn {
    width: 269px;
    height: 50px;
    position: absolute;
    top: 60px;
    right: 64px;
    font-family: Montserrat-ExtraBold;
    font-size: 20px;
    color: #F79810;
    border: 5px solid #F79810;
    border-radius: 12px;
}

.menu__variants {
    display: flex;
    column-gap: 145px;
}

.menu__variants-editBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 162px;
    background-color: #65B2E9;
    font-family: Montserrat-SemiBold;
    font-size: 30px;
    border-radius: 14px;
    color: #FFFFFF;
    text-align: left;
}

.menu__variants-createBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 162px;
    background-color: #65B2E9;
    font-family: Montserrat-SemiBold;
    font-size: 30px;
    border-radius: 14px;
    color: #FFFFFF;
    text-align: left;
}

.editBtn_text {
    display: block;
    width: 310px;
    height: 81px;
}

.createBtn_text {
    display: block;
    width: 310px;
    height: 81px;
}